#### load packages

In [24]:
from dotenv import load_dotenv
import os
import requests
from sqlalchemy import create_engine, text
import pandas as pd

from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

#### load hidden environment variables

In [19]:
load_dotenv()

fmp_api_key = os.getenv('fmp_api_key')

db_name = os.getenv('db_name')
db_password = os.getenv('db_password')

#### connect to mysql db that we spun up in a docker container

In [21]:
mysql_engine = create_engine(f"mysql+mysqlconnector://root:{db_password}@127.0.0.1:3306/{db_name}")
conn = mysql_engine.connect()

In [23]:
list(conn.execute(text("show tables;")))

[]

In [22]:
pd.read_sql('show tables', conn)

Empty DataFrame
Columns: [Tables_in_datafin_test]
Index: []

In [31]:
# Current date
today = datetime.today()


x = today - relativedelta(years=5) + relativedelta(days=1)

x

datetime.datetime(2020, 3, 28, 20, 49, 34, 606215)