In [24]:
from dotenv import load_dotenv
import os
import csv
import time
import requests
from sqlalchemy import create_engine, text
import pandas as pd

from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [3]:
load_dotenv()

fmp_api_key = os.getenv('FMP_API_KEY')

db_name = os.getenv('DB_NAME')
db_password = os.getenv('DB_PASSWORD')

snp_path = os.path.join('data-ref', 'snp500.csv')
nas_path = os.path.join('data-ref', 'nasdaq.csv')

In [4]:
mysql_engine = create_engine(f"mysql+mysqlconnector://root:{db_password}@127.0.0.1:3306/{db_name}")
conn = mysql_engine.connect()
list(conn.execute(text("show tables;")))

[]

In [64]:
from datetime import datetime

def format_date_time_object(
    datetime_object: datetime,
    with_time: bool = False
) -> str:
    """
    DEPS:
        datetime -- in requirements.txt
    DEF:
        format a datetime object as a string.
    
    ARGS:
        datetime_object: the datetime object to format
        with_time: whether to include the time in the formatted string
    
    RETURNS:
        a formatted date string
    """

    if with_time:
        return datetime_object.strftime("%Y-%m-%d %H:%M:%S")
    else:
        return datetime_object.strftime("%Y-%m-%d")

In [65]:
def api_call_get(
    url: str, 
    params: dict,
    headers: dict = None,
    return_other_than_json: bool = False
) -> object:
    """
    DEPS:
        requests
    DEF:
        takes a url and parameters and packages and sends the get requests and returns json or response object
    ARGS:
        url: the url endpoint you want to call
        params: {key: value} pairs that serve as parameters for api
        headers: pass headers as {key: value} pairs for more advance config and authorization
        return_other_than_json: returns the response object rather than the json formatted response which allows for more inspection
    RETURNS:
        list of dicts or reponse object if successful, statuscode if not
    """
    if headers is not None:
        response = requests.get(url, params=params, headers=headers)
        if response.status_code != 200:
            return response.raise_for_status()
        else:
            return response.json()
    else:
        response = requests.get(url, params=params)
        if response.status_code != 200:
            return response.raise_for_status()
        else:
            if response.json() == []:
                return "empty response"
            else:
                return response.json()

In [ ]:
def call_eod(symbol):
    today = datetime.now()
    time_delta_5_year = today - relativedelta(years=5) + timedelta(days=1) ## max amount of data i can get form api


    base_url = "https://financialmodelingprep.com/stable/historical-price-eod/full"

    today_param = format_date_time_object(today)
    time_delta_param = format_date_time_object(time_delta_5_year)


    params = {
        "symbol": symbol,
        "apikey": fmp_api_key,
        "from": time_delta_param,
        "to": today_param
    }

    response = api_call_get(base_url, params=params)

    return response

def call_eod_5_min(symbol):
    today = datetime.now()

    base_url = "https://financialmodelingprep.com/stable/historical-chart/5min"

    today_param = format_date_time_object(today)


    params = {
        "symbol": symbol,
        "apikey": fmp_api_key,
        "from": today_param,
        "to": today_param
    }

    response = api_call_get(base_url, params=params)

    return response

In [ ]:
def transform_and_commit_data(
    response: object
) -> None:
    """
    DEPS:
        pandas, established connection to a sql database, in this case a mysql data base
    DEF:
        transform response json to df, make a primary key transformation and then write to a sql table
    ARGS:
        reponse: response object from an api in json format
    RETURNS:
        nothing, commits to the db or throws an error, the data should be appended if already exists
    """
    df = pd.DataFrame(response)
    df['date_time_id'] = df['symbol'] + '_' + df['date']
    cols = ['date_time_id'] + [col for col in df.columns if col != 'date_time_id']
    df = df[cols]
    df.to_sql(
        name='raw_ingestion_test_5_min',
        con=mysql_engine,
        if_exists='append',
        index=False,
        chunksize=1000
    )
    conn.commit()

In [69]:
nas = []
with open(nas_path, 'r', newline='') as f:
    csv_reader = csv.reader(f)
    
    for row in csv_reader:
        nas.append(row[0])

snp = []
with open(snp_path, 'r', newline='') as f:
    csv_reader = csv.reader(f)
    
    for row in csv_reader:
        snp.append(row[0])

not_in = []
for q in nas:
    if q not in snp:
        not_in.append(q)
    else:
        continue

In [73]:
count = 1
start_ = time.time()
for s in snp:
    start_time = time.time()

    raw_json_reponse = call_eod(s)
    df = transform_and_commit_data(raw_json_reponse)
    
    elapsed_time = time.time() - start_time
    if len(s) == 1:
        print(f'commited {s}     to table -- time: {elapsed_time:.2f} -- count {count}')
    elif len(s) == 2:
        print(f'commited {s}    to table -- time: {elapsed_time:.2f} -- count {count}')
    elif len(s) == 3:
        print(f'commited {s}   to table -- time: {elapsed_time:.2f} -- count {count}')
    elif len(s) == 4:
        print(f'commited {s}  to table -- time: {elapsed_time:.2f} -- count {count}')
    else:
        print(f'commited {s} to table -- time: {elapsed_time:.2f} -- count {count}')
    count += 1

whole_loop = time.time() - start_ 
print(f'whole loop has taken {round(whole_loop, 2)}')

start_ = time.time()
for s in not_in:
    start_time = time.time()

    raw_json_reponse = call_eod(s)
    df = transform_and_commit_data(raw_json_reponse)
    
    elapsed_time = time.time() - start_time
    if len(s) == 3:
        print(f'commited {s}   to table -- time: {elapsed_time:.2f} -- count {count}')
    if len(s) == 4:
        print(f'commited {s}  to table -- time: {elapsed_time:.2f} -- count {count}')
    else:
        print(f'commited {s} to table -- time: {elapsed_time:.2f} -- count {count}')
    count += 1

whole_loop = time.time() - start_ 
print(f'whole loop has taken {round(whole_loop, 2)}')

commited MMM   to table -- time: 0.34 -- count 1
commited AOS   to table -- time: 0.26 -- count 2
commited ABT   to table -- time: 0.30 -- count 3
commited ABBV  to table -- time: 0.27 -- count 4
commited ACN   to table -- time: 0.29 -- count 5
commited ADBE  to table -- time: 0.30 -- count 6
commited AMD   to table -- time: 0.31 -- count 7
commited AES   to table -- time: 0.29 -- count 8
commited AFL   to table -- time: 0.26 -- count 9
commited A     to table -- time: 0.30 -- count 10
commited APD   to table -- time: 0.28 -- count 11
commited ABNB  to table -- time: 0.28 -- count 12
commited AKAM  to table -- time: 0.31 -- count 13
commited ALB   to table -- time: 0.30 -- count 14
commited ARE   to table -- time: 0.28 -- count 15
commited ALGN  to table -- time: 0.34 -- count 16
commited ALLE  to table -- time: 0.28 -- count 17
commited LNT   to table -- time: 0.27 -- count 18
commited ALL   to table -- time: 0.30 -- count 19
commited GOOGL to table -- time: 0.29 -- count 20
commited GOOG  to table -- time: 0.29 -- count 21
commited MO    to table -- time: 0.26 -- count 22
commited AMZN  to table -- time: 0.30 -- count 23
commited AMCR  to table -- time: 0.27 -- count 24
commited AEE   to table -- time: 0.28 -- count 25
commited AEP   to table -- time: 0.32 -- count 26
commited AXP   to table -- time: 0.32 -- count 27
commited AIG   to table -- time: 0.29 -- count 28
commited AMT   to table -- time: 0.32 -- count 29
commited AWK   to table -- time: 0.31 -- count 30
commited AMP   to table -- time: 0.29 -- count 31
commited AME   to table -- time: 0.30 -- count 32
commited AMGN  to table -- time: 0.31 -- count 33
commited APH   to table -- time: 0.30 -- count 34
commited ADI   to table -- time: 0.34 -- count 35
commited ANSS  to table -- time: 0.73 -- count 36
commited AON   to table -- time: 0.30 -- count 37
commited APA   to table -- time: 0.32 -- count 38
commited APO   to table -- time: 0.76 -- count 39
commited AAPL  to table -- time: 0.40 -- count 40
commited AMAT  to table -- time: 0.30 -- count 41
commited APTV  to table -- time: 0.30 -- count 42
commited ACGL  to table -- time: 0.34 -- count 43
commited ADM   to table -- time: 0.28 -- count 44
commited ANET  to table -- time: 0.31 -- count 45
commited AJG   to table -- time: 0.31 -- count 46
commited AIZ   to table -- time: 0.30 -- count 47
commited T     to table -- time: 0.28 -- count 48
commited ATO   to table -- time: 0.27 -- count 49
commited ADSK  to table -- time: 0.31 -- count 50
commited ADP   to table -- time: 0.32 -- count 51
commited AZO   to table -- time: 0.28 -- count 52
commited AVB   to table -- time: 0.33 -- count 53
commited AVY   to table -- time: 0.29 -- count 54
commited AXON  to table -- time: 0.30 -- count 55
commited BKR   to table -- time: 0.32 -- count 56
commited BALL  to table -- time: 0.30 -- count 57
commited BAC   to table -- time: 0.29 -- count 58
commited BAX   to table -- time: 0.29 -- count 59
commited BDX   to table -- time: 0.30 -- count 60
commited BRK-B to table -- time: 0.29 -- count 61
commited BBY   to table -- time: 0.28 -- count 62
commited TECH  to table -- time: 0.30 -- count 63
commited BIIB  to table -- time: 0.34 -- count 64
commited BLK   to table -- time: 0.29 -- count 65
commited BX    to table -- time: 0.28 -- count 66
commited BK    to table -- time: 0.28 -- count 67
commited BA    to table -- time: 0.29 -- count 68
commited BKNG  to table -- time: 0.27 -- count 69
commited BSX   to table -- time: 0.30 -- count 70
commited BMY   to table -- time: 0.28 -- count 71
commited AVGO  to table -- time: 1.30 -- count 72
commited BR    to table -- time: 0.29 -- count 73
commited BRO   to table -- time: 0.28 -- count 74
commited BF-B  to table -- time: 0.29 -- count 75
commited BLDR  to table -- time: 0.29 -- count 76
commited BG    to table -- time: 0.30 -- count 77
commited BXP   to table -- time: 0.31 -- count 78
commited CHRW  to table -- time: 0.36 -- count 79
commited CDNS  to table -- time: 0.31 -- count 80
commited CZR   to table -- time: 0.26 -- count 81
commited CPT   to table -- time: 0.30 -- count 82
commited CPB   to table -- time: 0.29 -- count 83
commited COF   to table -- time: 0.44 -- count 84
commited CAH   to table -- time: 0.35 -- count 85
commited KMX   to table -- time: 0.27 -- count 86
commited CCL   to table -- time: 0.25 -- count 87
commited CARR  to table -- time: 0.26 -- count 88
commited CAT   to table -- time: 0.32 -- count 89
commited CBOE  to table -- time: 0.28 -- count 90
commited CBRE  to table -- time: 0.30 -- count 91
commited CDW   to table -- time: 0.29 -- count 92
commited COR   to table -- time: 0.28 -- count 93
commited CNC   to table -- time: 0.28 -- count 94
commited CNP   to table -- time: 0.29 -- count 95
commited CF    to table -- time: 0.28 -- count 96
commited CRL   to table -- time: 0.28 -- count 97
commited SCHW  to table -- time: 0.30 -- count 98
commited CHTR  to table -- time: 0.31 -- count 99
commited CVX   to table -- time: 0.27 -- count 100
commited CMG   to table -- time: 0.30 -- count 101
commited CB    to table -- time: 0.27 -- count 102
commited CHD   to table -- time: 0.27 -- count 103
commited CI    to table -- time: 0.26 -- count 104
commited CINF  to table -- time: 0.32 -- count 105
commited CTAS  to table -- time: 0.36 -- count 106
commited CSCO  to table -- time: 0.43 -- count 107
commited C     to table -- time: 0.28 -- count 108
commited CFG   to table -- time: 0.25 -- count 109
commited CLX   to table -- time: 0.27 -- count 110
commited CME   to table -- time: 0.31 -- count 111
commited CMS   to table -- time: 0.31 -- count 112
commited KO    to table -- time: 0.27 -- count 113
commited CTSH  to table -- time: 0.34 -- count 114
commited CL    to table -- time: 0.31 -- count 115
commited CMCSA to table -- time: 0.27 -- count 116
commited CAG   to table -- time: 0.28 -- count 117
commited COP   to table -- time: 0.35 -- count 118
commited ED    to table -- time: 0.27 -- count 119
commited STZ   to table -- time: 0.30 -- count 120
commited CEG   to table -- time: 0.24 -- count 121
commited COO   to table -- time: 0.28 -- count 122
commited CPRT  to table -- time: 0.26 -- count 123
commited GLW   to table -- time: 0.28 -- count 124
commited CPAY  to table -- time: 0.31 -- count 125
commited CTVA  to table -- time: 0.27 -- count 126
commited CSGP  to table -- time: 0.24 -- count 127
commited COST  to table -- time: 0.27 -- count 128
commited CTRA  to table -- time: 0.27 -- count 129
commited CRWD  to table -- time: 0.29 -- count 130
commited CCI   to table -- time: 0.29 -- count 131
commited CSX   to table -- time: 0.27 -- count 132
commited CMI   to table -- time: 0.28 -- count 133
commited CVS   to table -- time: 0.26 -- count 134
commited DHR   to table -- time: 0.26 -- count 135
commited DRI   to table -- time: 0.31 -- count 136
commited DVA   to table -- time: 0.30 -- count 137
commited DAY   to table -- time: 0.28 -- count 138
commited DECK  to table -- time: 0.28 -- count 139
commited DE    to table -- time: 0.30 -- count 140
commited DELL  to table -- time: 0.47 -- count 141
commited DAL   to table -- time: 0.26 -- count 142
commited DVN   to table -- time: 0.29 -- count 143
commited DXCM  to table -- time: 0.29 -- count 144
commited FANG  to table -- time: 0.29 -- count 145
commited DLR   to table -- time: 0.33 -- count 146
commited DFS   to table -- time: 0.25 -- count 147
commited DG    to table -- time: 0.32 -- count 148
commited DLTR  to table -- time: 0.27 -- count 149
commited D     to table -- time: 0.30 -- count 150
commited DPZ   to table -- time: 0.27 -- count 151
commited DASH  to table -- time: 0.28 -- count 152
commited DOV   to table -- time: 0.32 -- count 153
commited DOW   to table -- time: 0.25 -- count 154
commited DHI   to table -- time: 0.32 -- count 155
commited DTE   to table -- time: 0.32 -- count 156
commited DUK   to table -- time: 0.30 -- count 157
commited DD    to table -- time: 0.29 -- count 158
commited EMN   to table -- time: 0.29 -- count 159
commited ETN   to table -- time: 0.30 -- count 160
commited EBAY  to table -- time: 0.44 -- count 161
commited ECL   to table -- time: 0.31 -- count 162
commited EIX   to table -- time: 0.28 -- count 163
commited EW    to table -- time: 0.31 -- count 164
commited EA    to table -- time: 0.34 -- count 165
commited ELV   to table -- time: 0.27 -- count 166
commited EMR   to table -- time: 0.33 -- count 167
commited ENPH  to table -- time: 0.28 -- count 168
commited ETR   to table -- time: 0.34 -- count 169
commited EOG   to table -- time: 0.28 -- count 170
commited EPAM  to table -- time: 0.52 -- count 171
commited EQT   to table -- time: 0.26 -- count 172
commited EFX   to table -- time: 0.30 -- count 173
commited EQIX  to table -- time: 0.31 -- count 174
commited EQR   to table -- time: 0.27 -- count 175
commited ERIE  to table -- time: 0.33 -- count 176
commited ESS   to table -- time: 0.29 -- count 177
commited EL    to table -- time: 0.58 -- count 178
commited EG    to table -- time: 0.29 -- count 179
commited EVRG  to table -- time: 0.25 -- count 180
commited ES    to table -- time: 0.27 -- count 181
commited EXC   to table -- time: 0.26 -- count 182
commited EXE   to table -- time: 0.28 -- count 183
commited EXPE  to table -- time: 0.26 -- count 184
commited EXPD  to table -- time: 0.28 -- count 185
commited EXR   to table -- time: 0.30 -- count 186
commited XOM   to table -- time: 0.29 -- count 187
commited FFIV  to table -- time: 0.30 -- count 188
commited FDS   to table -- time: 0.30 -- count 189
commited FICO  to table -- time: 0.35 -- count 190
commited FAST  to table -- time: 0.30 -- count 191
commited FRT   to table -- time: 0.29 -- count 192
commited FDX   to table -- time: 0.28 -- count 193
commited FIS   to table -- time: 0.27 -- count 194
commited FITB  to table -- time: 0.25 -- count 195
commited FSLR  to table -- time: 0.34 -- count 196
commited FE    to table -- time: 0.29 -- count 197
commited FI    to table -- time: 0.28 -- count 198
commited F     to table -- time: 0.28 -- count 199
commited FTNT  to table -- time: 0.25 -- count 200
commited FTV   to table -- time: 0.25 -- count 201
commited FOXA  to table -- time: 0.28 -- count 202
commited FOX   to table -- time: 0.30 -- count 203
commited BEN   to table -- time: 0.25 -- count 204
commited FCX   to table -- time: 0.25 -- count 205
commited GRMN  to table -- time: 0.30 -- count 206
commited IT    to table -- time: 0.27 -- count 207
commited GE    to table -- time: 0.29 -- count 208
commited GEHC  to table -- time: 0.22 -- count 209
commited GEV   to table -- time: 0.17 -- count 210
commited GEN   to table -- time: 0.31 -- count 211
commited GNRC  to table -- time: 0.31 -- count 212
commited GD    to table -- time: 0.31 -- count 213
commited GIS   to table -- time: 0.27 -- count 214
commited GM    to table -- time: 0.30 -- count 215
commited GPC   to table -- time: 0.27 -- count 216
commited GILD  to table -- time: 0.30 -- count 217
commited GPN   to table -- time: 0.33 -- count 218
commited GL    to table -- time: 0.30 -- count 219
commited GDDY  to table -- time: 0.44 -- count 220
commited GS    to table -- time: 0.29 -- count 221
commited HAL   to table -- time: 0.28 -- count 222
commited HIG   to table -- time: 0.27 -- count 223
commited HAS   to table -- time: 0.27 -- count 224
commited HCA   to table -- time: 0.27 -- count 225
commited DOC   to table -- time: 0.24 -- count 226
commited HSIC  to table -- time: 0.26 -- count 227
commited HSY   to table -- time: 0.30 -- count 228
commited HES   to table -- time: 0.33 -- count 229
commited HPE   to table -- time: 0.28 -- count 230
commited HLT   to table -- time: 0.34 -- count 231
commited HOLX  to table -- time: 0.26 -- count 232
commited HD    to table -- time: 0.31 -- count 233
commited HON   to table -- time: 0.32 -- count 234
commited HRL   to table -- time: 0.30 -- count 235
commited HST   to table -- time: 0.30 -- count 236
commited HWM   to table -- time: 0.33 -- count 237
commited HPQ   to table -- time: 0.29 -- count 238
commited HUBB  to table -- time: 0.31 -- count 239
commited HUM   to table -- time: 0.27 -- count 240
commited HBAN  to table -- time: 0.26 -- count 241
commited HII   to table -- time: 0.35 -- count 242
commited IBM   to table -- time: 0.26 -- count 243
commited IEX   to table -- time: 0.31 -- count 244
commited IDXX  to table -- time: 0.32 -- count 245
commited ITW   to table -- time: 0.30 -- count 246
commited INCY  to table -- time: 0.30 -- count 247
commited IR    to table -- time: 0.24 -- count 248
commited PODD  to table -- time: 0.32 -- count 249
commited INTC  to table -- time: 0.31 -- count 250
commited ICE   to table -- time: 0.28 -- count 251
commited IFF   to table -- time: 0.29 -- count 252
commited IP    to table -- time: 0.26 -- count 253
commited IPG   to table -- time: 0.27 -- count 254
commited INTU  to table -- time: 0.31 -- count 255
commited ISRG  to table -- time: 0.36 -- count 256
commited IVZ   to table -- time: 0.27 -- count 257
commited INVH  to table -- time: 0.24 -- count 258
commited IQV   to table -- time: 0.30 -- count 259
commited IRM   to table -- time: 0.30 -- count 260
commited JBHT  to table -- time: 0.29 -- count 261
commited JBL   to table -- time: 1.00 -- count 262
commited JKHY  to table -- time: 0.28 -- count 263
commited J     to table -- time: 0.30 -- count 264
commited JNJ   to table -- time: 0.28 -- count 265
commited JCI   to table -- time: 0.31 -- count 266
commited JPM   to table -- time: 0.33 -- count 267
commited JNPR  to table -- time: 0.26 -- count 268
commited K     to table -- time: 0.30 -- count 269
commited KVUE  to table -- time: 0.22 -- count 270
commited KDP   to table -- time: 0.27 -- count 271
commited KEY   to table -- time: 0.24 -- count 272
commited KEYS  to table -- time: 0.28 -- count 273
commited KMB   to table -- time: 0.30 -- count 274
commited KIM   to table -- time: 0.26 -- count 275
commited KMI   to table -- time: 0.25 -- count 276
commited KKR   to table -- time: 0.32 -- count 277
commited KLAC  to table -- time: 0.33 -- count 278
commited KHC   to table -- time: 0.28 -- count 279
commited KR    to table -- time: 0.23 -- count 280
commited LHX   to table -- time: 0.29 -- count 281
commited LH    to table -- time: 0.39 -- count 282
commited LRCX  to table -- time: 0.30 -- count 283
commited LW    to table -- time: 0.33 -- count 284
commited LVS   to table -- time: 0.29 -- count 285
commited LDOS  to table -- time: 0.30 -- count 286
commited LEN   to table -- time: 0.29 -- count 287
commited LII   to table -- time: 0.34 -- count 288
commited LLY   to table -- time: 0.34 -- count 289
commited LIN   to table -- time: 0.34 -- count 290
commited LYV   to table -- time: 0.50 -- count 291
commited LKQ   to table -- time: 0.27 -- count 292
commited LMT   to table -- time: 0.26 -- count 293
commited L     to table -- time: 0.27 -- count 294
commited LOW   to table -- time: 0.34 -- count 295
commited LULU  to table -- time: 0.34 -- count 296
commited LYB   to table -- time: 0.26 -- count 297
commited MTB   to table -- time: 0.24 -- count 298
commited MPC   to table -- time: 0.30 -- count 299
commited MKTX  to table -- time: 0.31 -- count 300
commited MAR   to table -- time: 0.30 -- count 301
commited MMC   to table -- time: 0.38 -- count 302
commited MLM   to table -- time: 0.28 -- count 303
commited MAS   to table -- time: 0.37 -- count 304
commited MA    to table -- time: 0.28 -- count 305
commited MTCH  to table -- time: 0.30 -- count 306
commited MKC   to table -- time: 0.26 -- count 307
commited MCD   to table -- time: 0.28 -- count 308
commited MCK   to table -- time: 0.29 -- count 309
commited MDT   to table -- time: 0.27 -- count 310
commited MRK   to table -- time: 0.78 -- count 311
commited META  to table -- time: 0.29 -- count 312
commited MET   to table -- time: 0.29 -- count 313
commited MTD   to table -- time: 0.28 -- count 314
commited MGM   to table -- time: 0.26 -- count 315
commited MCHP  to table -- time: 0.62 -- count 316
commited MU    to table -- time: 0.30 -- count 317
commited MSFT  to table -- time: 0.87 -- count 318
commited MAA   to table -- time: 0.30 -- count 319
commited MRNA  to table -- time: 0.29 -- count 320
commited MHK   to table -- time: 0.29 -- count 321
commited MOH   to table -- time: 0.28 -- count 322
commited TAP   to table -- time: 0.27 -- count 323
commited MDLZ  to table -- time: 0.26 -- count 324
commited MPWR  to table -- time: 0.31 -- count 325
commited MNST  to table -- time: 0.35 -- count 326
commited MCO   to table -- time: 0.54 -- count 327
commited MS    to table -- time: 0.28 -- count 328
commited MOS   to table -- time: 0.30 -- count 329
commited MSI   to table -- time: 0.29 -- count 330
commited MSCI  to table -- time: 0.30 -- count 331
commited NDAQ  to table -- time: 0.27 -- count 332
commited NTAP  to table -- time: 0.27 -- count 333
commited NFLX  to table -- time: 0.29 -- count 334
commited NEM   to table -- time: 0.28 -- count 335
commited NWSA  to table -- time: 0.28 -- count 336
commited NWS   to table -- time: 0.32 -- count 337
commited NEE   to table -- time: 0.30 -- count 338
commited NKE   to table -- time: 0.27 -- count 339
commited NI    to table -- time: 0.50 -- count 340
commited NDSN  to table -- time: 0.36 -- count 341
commited NSC   to table -- time: 0.32 -- count 342
commited NTRS  to table -- time: 0.35 -- count 343
commited NOC   to table -- time: 0.27 -- count 344
commited NCLH  to table -- time: 0.26 -- count 345
commited NRG   to table -- time: 0.28 -- count 346
commited NUE   to table -- time: 0.29 -- count 347
commited NVDA  to table -- time: 0.29 -- count 348
commited NVR   to table -- time: 0.30 -- count 349
commited NXPI  to table -- time: 0.30 -- count 350
commited ORLY  to table -- time: 0.69 -- count 351
commited OXY   to table -- time: 0.27 -- count 352
commited ODFL  to table -- time: 0.30 -- count 353
commited OMC   to table -- time: 0.30 -- count 354
commited ON    to table -- time: 0.30 -- count 355
commited OKE   to table -- time: 0.28 -- count 356
commited ORCL  to table -- time: 0.41 -- count 357
commited OTIS  to table -- time: 0.28 -- count 358
commited PCAR  to table -- time: 0.31 -- count 359
commited PKG   to table -- time: 0.27 -- count 360
commited PLTR  to table -- time: 0.28 -- count 361
commited PANW  to table -- time: 0.50 -- count 362
commited PARA  to table -- time: 0.31 -- count 363
commited PH    to table -- time: 0.31 -- count 364
commited PAYX  to table -- time: 0.36 -- count 365
commited PAYC  to table -- time: 0.32 -- count 366
commited PYPL  to table -- time: 0.29 -- count 367
commited PNR   to table -- time: 0.30 -- count 368
commited PEP   to table -- time: 0.42 -- count 369
commited PFE   to table -- time: 0.29 -- count 370
commited PCG   to table -- time: 0.27 -- count 371
commited PM    to table -- time: 0.30 -- count 372
commited PSX   to table -- time: 0.29 -- count 373
commited PNW   to table -- time: 0.27 -- count 374
commited PNC   to table -- time: 0.29 -- count 375
commited POOL  to table -- time: 0.31 -- count 376
commited PPG   to table -- time: 0.30 -- count 377
commited PPL   to table -- time: 0.29 -- count 378
commited PFG   to table -- time: 0.26 -- count 379
commited PG    to table -- time: 0.29 -- count 380
commited PGR   to table -- time: 0.31 -- count 381
commited PLD   to table -- time: 0.31 -- count 382
commited PRU   to table -- time: 0.30 -- count 383
commited PEG   to table -- time: 0.26 -- count 384
commited PTC   to table -- time: 0.29 -- count 385
commited PSA   to table -- time: 0.32 -- count 386
commited PHM   to table -- time: 0.30 -- count 387
commited PWR   to table -- time: 0.28 -- count 388
commited QCOM  to table -- time: 0.30 -- count 389
commited DGX   to table -- time: 0.30 -- count 390
commited RL    to table -- time: 0.30 -- count 391
commited RJF   to table -- time: 0.30 -- count 392
commited RTX   to table -- time: 0.29 -- count 393
commited O     to table -- time: 0.27 -- count 394

In [76]:
pd.read_sql(f""" 

SELECT COUNT(date_time_id)
FROM raw_ingestion_test

""", conn)

   COUNT(date_time_id)
0              1293836

In [77]:
pd.read_sql(f""" 
SELECT 
    table_name AS `Table`,
    round(((data_length + index_length) / 1024 / 1024), 2) `Size (MB)`
FROM information_schema.TABLES
WHERE table_schema = "{db_name}"
AND table_name = "raw_ingestion_test";
            """, conn)

                Table  Size (MB)
0  raw_ingestion_test      154.7

In [86]:
pd.read_sql(f""" 
select * 
from raw_ingestion_test
where 
    changePercent >= 20.0 
    and symbol = "PLTR"
                    """, conn)

,date_time_id,symbol,date,open,high,low,close,volume,change,changePercent,vwap
0,PLTR_2022-02-24,PLTR,2022-02-24,9.75,11.87,9.74,11.83,118793047,2.08,21.33,11.04
1,PLTR_2021-01-22,PLTR,2021-01-22,25.85,32.65,25.82,32.58,157240221,6.73,26.03,29.79
2,PLTR_2020-11-25,PLTR,2020-11-25,23.96,29.75,23.69,29.05,203256795,5.09,21.24,27.19
3,PLTR_2022-02-24,PLTR,2022-02-24,9.75,11.87,9.74,11.83,118793047,2.08,21.33,11.04
4,PLTR_2021-01-22,PLTR,2021-01-22,25.85,32.65,25.82,32.58,157240221,6.73,26.03,29.79
5,PLTR_2020-11-25,PLTR,2020-11-25,23.96,29.75,23.69,29.05,203256795,5.09,21.24,27.19