In [22]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv
import pandas as pd

load_dotenv()

rds_db_connection = os.getenv('RDS_DB_CONNECTION_NAME')
rds_db_password = os.getenv('RDS_DB_PASSWORD')

In [32]:
import mysql.connector
import os
from dotenv import load_dotenv
import time

load_dotenv()

rds_db_connection = os.getenv('RDS_DB_CONNECTION_NAME')
rds_db_password = os.getenv('RDS_DB_PASSWORD')

rds_engine = create_engine(f"mysql+mysqlconnector://admin:{rds_db_password}@{rds_db_connection}:3306/test_db")
conn = rds_engine.connect()
# conn = mysql.connector.connect(
#     host=rds_db_connection,
#     user="admin",
#     password=rds_db_password,
#     port=3306,
#     connection_timeout=10
# )

In [36]:
pd.read_sql("""
show tables
""", conn)

Empty DataFrame
Columns: [Tables_in_test_db]
Index: []