In [1]:
import os
import dotenv
from datetime import datetime

import pandas as pd

from datafin import S3Client                     # type: ignore
from datafin import FMPClient                    # type: ignore
from datafin import PolygonClient                # type: ignore
from datafin import RDSClient                    # type: ignore
from datafin.utils import (                      # type: ignore
    get_trading_days_ytd,
    get_trading_days_range,
    format_date,
    today,
    get_5year_ago_date
)

In [2]:
dotenv.load_dotenv()

fmp_api_key = os.getenv('FMP_API_KEY')

s3_bucket = os.getenv('PERSONAL_S3_BUCKET_NAME')
aws_access_key =  os.getenv('PERSONAL_AWS_ACCESS_KEY_ID')
aws_secret_key =  os.getenv('PERSONAL_AWS_SECRET_ACCESS_KEY_ID')

polygon_api_key = os.getenv('POLYGON_API_KEY')
polygon_access_key =  os.getenv('POLYGON_AWS_ACCESS_KEY_ID')
polygon_access_key_secret_key =  os.getenv('POLYGON_AWS_SECRET_ACCESS_KEY_ID')


rds_host_name = os.getenv('RDS_DB_HOST_CONNECTION_NAME')
rds_username = os.getenv('RDS_DB_USERNAME')
rds_password = os.getenv('RDS_DB_PASSWORD')

In [3]:
my_s3 = S3Client(
    bucket_name=s3_bucket,
    aws_access_key_id=aws_access_key,
    aws_secret_access_key=aws_secret_key,
    region_name='us-east-1'
)

In [4]:
df = my_s3.get_parquet(
    path='dev/polygon/equities/sec-eod-aggs/raw/year=2025/month=03',
    file_name='raw-spy-2025-03'
)

,date_time,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,2025-03-03 04:00:00,593.88,594.50,593.88,594.50,1735.0,594.1715,1.740992e+12,41.0,0
1,2025-03-03 04:00:01,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
2,2025-03-03 04:00:02,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
3,2025-03-03 04:00:03,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
4,2025-03-03 04:00:04,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
...,...,...,...,...,...,...,...,...,...,...
88,2025-03-03 04:01:28,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
89,2025-03-03 04:01:29,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
90,2025-03-03 04:01:30,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
91,2025-03-03 04:01:31,0.00,0.00,0.00,0.00,0.0,0.0000,1.740974e+09,0.0,0
92,2025-03-03 04:01:32,594.16,594.16,594.16,594.16,107.0,594.1600,1.740992e+12,2.0,0