In [1]:
import os
import dotenv
from datetime import datetime

import pandas as pd

from datafin import S3Client                     # type: ignore
from datafin import FMPClient                    # type: ignore
from datafin import PolygonClient                # type: ignore
from datafin import RDSClient                    # type: ignore
from datafin.utils import (                      # type: ignore
    get_trading_days_ytd,
    get_trading_days_range,
    format_date,
    today,
    get_5year_ago_date
)

In [2]:
dotenv.load_dotenv()

fmp_api_key = os.getenv('FMP_API_KEY')

s3_bucket = os.getenv('PERSONAL_S3_BUCKET_NAME')
aws_access_key =  os.getenv('PERSONAL_AWS_ACCESS_KEY_ID')
aws_secret_key =  os.getenv('PERSONAL_AWS_SECRET_ACCESS_KEY_ID')

polygon_api_key = os.getenv('POLYGON_API_KEY')
polygon_access_key =  os.getenv('POLYGON_AWS_ACCESS_KEY_ID')
polygon_access_key_secret_key =  os.getenv('POLYGON_AWS_SECRET_ACCESS_KEY_ID')


rds_host_name = os.getenv('RDS_DB_HOST_CONNECTION_NAME')
rds_username = os.getenv('RDS_DB_USERNAME')
rds_password = os.getenv('RDS_DB_PASSWORD')

In [3]:
my_s3 = S3Client(
    bucket_name=s3_bucket,
    aws_access_key_id=aws_access_key,
    aws_secret_access_key=aws_secret_key,
    region_name='us-east-1'
)

p_s3 = S3Client(
    aws_access_key_id=polygon_access_key,
    aws_secret_access_key=polygon_access_key_secret_key,
    is_polygon=True
)

In [3]:
polygon = PolygonClient(polygon_api_key)
data = polygon.get_eod_second_aggs(
    'SPY',
    '2025-04-28'
)
df = pd.DataFrame(data)
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,548.92,548.92,548.92,548.92,795,548.8765,1745827200000,17,None
1,548.70,548.70,548.70,548.70,101,548.7011,1745827202000,2,None
2,548.83,548.83,548.83,548.83,100,548.8300,1745827223000,1,None
3,548.75,548.75,548.75,548.75,120,548.7500,1745827225000,1,None
4,548.94,548.94,548.94,548.94,101,548.9399,1745827258000,2,None
...,...,...,...,...,...,...,...,...,...
21466,551.05,551.05,551.05,551.05,100,551.0500,1745884752000,1,None
21467,551.05,551.05,551.05,551.05,300,551.0500,1745884760000,3,None
21468,551.05,551.05,551.05,551.05,530,551.0494,1745884761000,3,None
21469,551.10,551.10,551.10,551.10,750,551.1000,1745884779000,3,None
21470,551.10,551.10,551.10,551.10,440,551.1005,1745884793000,2,None