In [1]:
import os
import dotenv

from datafin import S3Client, FMPClient

In [2]:
dotenv.load_dotenv()

fmp_api_key = os.getenv('FMP_API_KEY')

s3_bucket = os.getenv('PERSONAL_S3_BUCKET_NAME')
aws_access_key =  os.getenv('PERSONAL_AWS_ACCESS_KEY_ID')
aws_secret_key =  os.getenv('PERSONAL_AWS_SECRET_ACCESS_KEY_ID')

In [3]:
my_s3 = S3Client(
    bucket_name=s3_bucket,
    aws_access_key_id=aws_access_key,
    aws_secret_access_key=aws_secret_key,
    region_name='us-east-1',
)

fmp = FMPClient(
    api_key=fmp_api_key
)

In [4]:
test = my_s3.get_json(
    'test',
    'test'
)
test

'{"data": {"message": "connection to s3 bucket successful!"}}'

In [5]:
data =fmp.get_forex_eod_5min(
    'CHFUSD',
    '2025-04-26',
    '2025-04-26'
)
data

'empty response'

In [12]:
from polygon import RESTClient

client = RESTClient("GQn0EJI5jXsETWxkIn5fmVIQTufvfKam")

aggs = []
count = 0
for a in client.list_aggs(
    "O:SPY250509C00570000",
    1,
    "minute",
    "2025-04-25",
    "2025-04-25",
    adjusted="true",
    sort="asc",
    limit=1000,
):
    aggs.append(a)
    count += 1
    if count >= 3:  # Only get the first 3 items
        break

In [13]:
import pandas as pd

df = pd.DataFrame(aggs)

In [14]:
df

   open  high   low  close  volume    vwap      timestamp  transactions   otc
0  2.00  2.02  2.00   2.02      50  2.0040  1745587800000             5  None
1  2.05  2.06  2.05   2.06     113  2.0512  1745587860000             4  None
2  2.00  2.00  1.86   1.86      40  1.9310  1745587920000             4  None